.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.npy
*.tar.gz


embedding_visualisation/embedding_models/*
embedding_visualisation/fastText/*
embedding_visualisation/word2vec/*
embedding_visualisation/Visualisation/*
data/*
.idea/*
embedding_models/
word_vector_training/fastText_models/*
word_vector_training/word2vec_models/*
word_vector_training/__init__.py
word_vector_training/.ipynb_checkpoints/*
app/fastText_models/*
app/pretrained_embeddings/*
app/word2vec_models/*
.idea/SADiLaR.iml

/venv/
